.driver-wrp {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 230px;
    background-color: $beige;

    .driver-information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        margin-bottom: 150px;
        background-color: white;
        height: 650px;
        width: 100%;
    }
    
    .left-column {
        display: grid;
        grid-template-rows:  450px 1fr;
        height: 100%;       
  
        .driver-img-wrp{
          background-size: cover;
        }

        .driver-detail{
            display: grid;
            grid-template-rows:  1fr 1fr;
            padding: 35px 40px;
            grid-row-gap: 15px;


            &-number{
               display: grid;
               grid-template-columns:  50px 1fr; 
               color:$light-gray;
               grid-column-gap: 25px;
               

               &-digit{
                font-family: 'Orbitron', sans-serif;
                font-size: 3.5em;
                width: 100px;
               }

               &-flag{
                height: 2.25em;
                width: 60px;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 5px 5px;
                border: 1px solid $light-gray;
               }
            }

            &-name{
                font-family: 'Orbitron', sans-serif;
                color:black;
                font-size: 3em;
                font-weight: 700;
            }
        }
  
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        //padding: 10px;


        .stats-list{
            display: grid;
            grid-template-rows:  125px 29px 29px 29px 29px 29px 29px 29px 29px 29px 29px;
            font-family: 'Orbitron', sans-serif;
            grid-row-gap: 7px;

            .extra-info{
                display: grid;
                grid-template-columns: 255px 1fr;
                grid-column-gap: 10px;
                width: 100%;
                font-family: 'Orbitron', sans-serif;
                font-weight: 700;
                
                .brand-logo{
                    background-size: contain;
                    background-repeat: no-repeat; 
                }

                .text-link{

                    a { 
                        font-size: 1.25em;
                        text-decoration: none;
                        color: $formula-red;

                        a:hover {
                         color: "#e00e00";
                        }
                    }
                }
            
            }

            .stats{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 15px;

                &-key{
                    font-style: italic;
                    padding: 3px;
                }

                &-value{
                    padding: 3px;
                }

            }

        }

       
    }
}