.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 230px ;
    background-color: $formula-red;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9rem;
    height: 72px;
  
    .left-side {
      display: flex;
    }

    .right-side{
      padding: 25px 0;
      color: white;
      text-transform: uppercase;
    }
  
    .logo{
      margin-top: 9px;
      margin-left: 25px;
      height: 44px;
      width: 130px;
    }

    .nav-link-wrapper {
      height: 22px;
      border-bottom: 1px solid transparent;
      transition: 0.5s ease-in-out;
      text-transform: uppercase;
      padding: 25px 10px;
      
  
      a {
        color: white;
        text-decoration: none;
      }
      
      &:hover {
        background-color: black;
      }

      .nav-link-active {
        color: $light-gray;
      }
    }
  }
  